<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artist List</title>
</head>
<body>
<h2>Add Artist</h2>
<a href="/artist/create">Add new artist</a><hr>

<h2>Artists</h2>
<ul>
    <th:block th:each="artist : ${artists}">
        <li>
            <p th:text="${artist.name}">Artist Name</p>
            <a th:href="@{/artistinfo/{id}(id=${artist.id})}">Artist information</a>
        </li>
        <hr>
    </th:block>
</ul>
<a href="/">Back to Home Page</a>
</body>
</html>