<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music App</title>
    <link rel="stylesheet" href="/main.css?v=2">
</head>
<body>
<h1>Welcome to the Music App</h1><hr>

<h2>Upload Music</h2>

<h2>Add Artist</h2>
<div class="links-container">
    <a href="/create/artist">Add new artist</a>
</div><hr>

<h2>Artists</h2>
<ul>
    <th:block th:each="artist : ${artists}">
        <li>
            <p th:text="${artist.name}">Artist Name</p>
            <div class="links-container">
                <a th:href="@{/artistinfo/{id}(id=${artist.id})}">Artist information</a>
            </div>
        </li>
        <hr>
    </th:block>
</ul>
</body>
</html>
