<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music App</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<h1>Welcome to the Music App</h1><hr>

<h2>Upload Music</h2>

<div class="links-container">
    <a href="/upload">Upload a new song</a>
</div><hr>

<h2>Available Music</h2><hr>
<ul>
    <th:block th:each="song : ${songs}">
        <li>
            <p th:text="${song.title}">Song Title</p>
            <p th:text="${song.artist}">Artist</p>
            <audio controls>
                <source th:src="@{/song/{id}(id=${song.id})}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio><br>
            <div class="links-container">
                <a th:href="@{/songinfo/{id}(id=${song.id})}">Song information</a>
            </div>
        </li>
        <hr>
    </th:block>
</ul>
</body>
</html>
