<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Song Info</title>
</head>
<body>
<h1>Song Information</h1>
<a href="/">Back to home page</a> <br>
    <strong th:text="${song.title}">Song Title</strong> -
    <span th:text="${song.artist.name}">Artist Name</span><br>
    <audio controls>
        <source th:src="@{/song/play/{id}(id=${song.id})}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio><br>
    <a th:href="@{/song/download/{id}(id=${song.id})}" th:download="${song.originalFileName}">Download</a><br>
    <form th:action="@{/song/delete/{artistId}/{songId}(artistId=${song.artist.id}, songId=${song.id})}" method="post">
        <button type="submit">Delete song</button>
    </form><br>
</body>
</html>